@font-face {
    font-family: BankGothic;
    src: url(BankGothicBold.ttf);
}

html, body {
    font-family: "BankGothic", "Lucida Console", sans-serif;
    background: black;
    color: red;
}

canvas {
    float: left;
    margin-right: 20px;
    width: 49%;
}

#settings {
    width: 49%;
    float: right;
}

td {
    cursor: pointer;
    background: black;
}

h1 {
    text-align: center;
}

